@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Press+Start+2P&display=swap');
body{
    margin: 0;
    padding: 0;
}
h1, h2{
    text-align: center; font-family: 'Press Start 2P', cursive;
}
.sec2{
    background-color: #9bfab0; display: flex; justify-content: center; align-items: center; font-size: 40px; font-family: 'Concert One', cursive;
}
.icons{
    margin: 10px
}
.texto{
    margin-left: 5px; margin-right: 10px;
}
#valores{
    margin-right: 60px;
}
.titulo{
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
    text-align: center; 
    font-family: 'Press Start 2P', cursive;
    color: white;
    z-index: 50;
}
.titulo h1,h2{
    position: relative;
}
.medidas{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 50;
    margin: 0;
    padding: 0;
    color: white;
    background-color: transparent; display: flex; justify-content: center; align-items: center; font-size: 40px; font-family: 'Concert One', cursive;
}
.medidas span{
    font-size: 50px;
    position: relative;
      margin-right: 50px;

}
#valores{
    margin-left: 10px;
    margin-right: 50px;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 10s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 3s;
   animation-delay: 3s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
